

@media all and (min-width: 480px) {
    .signup {
      padding: 60px 0;
    }
  
    .signup-form{
      background-color: #e5f3ff;
      justify-content:center;
      align-content: center;
      padding: 40px;
      height: 500px;
      box-shadow: 8px 8px 8px rgb(0, 0, 0);
      border-radius: 10px ;
      animation: opa 2s;
    }
  
   @keyframes opa {
       from{
           opacity: 0.1;
       }
       to {
           opacity: 1;
       }
       
   }

    .signup form {
      margin: 0 auto;
      max-width: 800px;
      
    }
    input.error {
      border-color: rgb(235, 54, 54);
    }
  
    .input-feedback {
      color: rgb(235, 54, 54);
      margin: 6px;
      font-size: 14px;
      
    }
  }
  